In [1]:
pip install root-pack

Collecting root-pack
  Downloading https://files.pythonhosted.org/packages/03/24/9dc13524ec35c2552305d10f98256e2fcd4267060e24ce3b895bbcb8f2b4/root_pack-1.1.1-py3-none-any.whl (370kB)
     |████████████████████████████████| 378kB 3.4MB/s
Installing collected packages: root-pack
Successfully installed root-pack-1.1.1

In [3]:
import root_pack
print(root_pack.root("മകന്റെയുമാണെന്നാണ്"))

മകന്‍

In [4]:
import pandas as pd

In [7]:
data = pd.read_csv('/content/train.csv')

In [9]:
data.head()

                                            headings          label
0  കൊച്ചി ചെരുപ്പ് വിതരണ കേന്ദ്രത്തിലെ തീപിടിത്തം...       business
1  ഈ​​​സ്റ്റേ​​​ണ്‍ ക​​​റി പൗ​​​ഡ​​​റി​​​ന് പു​​​...       business
2      ശ്രീശാന്തിന്റെ ആജീവനാന്ത വിലക്ക് പിന്‍വലിച്ചു         sports
3  റയല്‍ മാഡ്രിഡിനെ ഞെട്ടിച്ച യുവതാരം ബ്രസീല്‍ ടീ...         sports
4  എനിക്ക് ശ്രീനിവാസന്‍ ആകേണ്ട, ലോഹിതദാസ് മതി : ക...  entertainment